<div class="navbar navbar-expand-lg navbar-light p-0">
  
   <div class="container-fluid">
      <div class="row">
         <div class="col-lg-3">
            <div class="iq-card">
               <div class="iq-card-header d-flex justify-content-between">
                  <div class="iq-header-title">
                     <h4 class="card-title">Inscription Médecin</h4>
                  </div>
               </div>
               <div class="iq-card-body">
                  <form>
                     <div class="form-group">
                        <div class="add-img-user profile-img-edit">
                           <img class="profile-pic img-fluid" src="assets/images/user/11.png" alt="profile-pic">
                           <div class="p-image">
                              <a href="javascript:void();" class="upload-button btn iq-bg-primary">File Upload</a>
                              <input class="file-upload" type="file" accept="image/*">
                           </div>
                        </div>
                      
                     </div>
                     <div class="form-group">
                        <label>Spécialité</label>
                        <select class="form-control" id="selectuserrole">
                           <option>Choisi</option>
                           <option>Surgery</option>
                           <option>Gastroenterologist</option>
                           <option>Endocrinologist</option>
                           <option>Orthopaedic surgeon</option>
                           <option>Cardiologist </option>
                        </select>
                     </div>
                    
                  </form>
               </div>
            </div>
         </div>
         <div class="col-lg-9">
            <div class="iq-card">
               <div class="iq-card-header d-flex justify-content-between">
                  <div class="iq-header-title">
                     <h4 class="card-title">Information Géneral</h4>
                  </div>
               </div>
               
               <div class="iq-card-body">
                  <div class="new-user-info">
                     <form>
                        <div class="row">
                             <!--nom-->
                           <div class="form-group col-md-6">
                              <label for="fname">Nom:</label>
                              <input type="text" class="form-control" id="fname" placeholder="Nom">
                           </div>
                                                       <!-- prenom-->

                           <div class="form-group col-md-6">
                              <label for="lname">Prénom:</label>
                              <input type="text" class="form-control" id="lname" placeholder="Prénom">
                           </div>
                                                       <!-- adresse cabinet-->

                           <div class="form-group col-md-6">
                              <label for="add1">Adresse Cabinet:</label>
                              <input type="text" class="form-control" id="add1" placeholder="Adresse Cabinet">
                           </div>
                           <div class="form-group col-md-6">
                              <label for="add2">Date Naissance:</label>
                              <input type="text" class="form-control" id="add2" placeholder="jj/mm/yyyy">
                           </div>
                          
                                                   <!-- telephone-->

                           <div class="form-group col-md-6">
                              <label for="mobno">Numéro de Téléphone:</label>
                              <input type="text" class="form-control" id="mobno" placeholder="Numéro de Téléphone">
                           </div>
                                                     <!-- email-->

                           <div class="form-group col-md-6">
                              <label for="email">Email:</label>
                              <input type="email" class="form-control" id="email" placeholder="Email">
                           </div>
                          
                          
                        </div>
                        <hr>
                        <h5 class="mb-3">Sécurité</h5>
                        <div class="row">
                           <div class="form-group col-md-12">
                              <label for="uname">Nom Utilisateur:</label>
                              <input type="text" class="form-control" id="uname" placeholder="Nom Utilisateur">
                           </div>
                           <div class="form-group col-md-6">
                              <label for="pass">Mot de passe:</label>
                              <input type="password" class="form-control" id="pass" placeholder="Mot de passe">
                           </div>
                           <div class="form-group col-md-6">
                              <label for="rpass">Répeter mot de passe:</label>
                              <input type="password" class="form-control" id="rpass" placeholder="Répeter mot de passe ">
                           </div>
                        </div>
                        <h5 class="mb-3">Information Médicale</h5>
                        <div class="row">
                           <div class="form-group col-md-12">
                              <label for="uname">Diplome:</label>
                              <input type="file" class="form-control" id="uname" placeholder="Diplome">
                           </div>
                           <div class="form-group col-md-6">
                              <label for="pass">CV:</label>
                              <input type="file" class="form-control" id="pass" placeholder="CV">
                           </div>
                           <div class="form-group col-md-6">
                              <label for="rpass">Justificatif Légale:</label>
                              <input type="file" class="form-control" id="rpass" placeholder="Justificatif Légale ">
                           </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Envoyer Demande</button>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
 
</div>
