<div class="container-fluid">       
          <div class="iq-card">
            
             <div class="iq-card-body">
               <div class="iq-card-header d-flex justify-content-between">
                  <div class="iq-header-title">
                     <h4 class="card-title">Liste de patients </h4>
                  </div>
                  <div class="iq-search-bar">
                    <form  class="searchbox">
                       <input type="text" class="text search-input" [(ngModel)]="searchTerm" [ngModelOptions]="{standalone: true}" placeholder="Type here to search...">
                       <a class="search-link" ><i class="ri-search-line"></i></a>
                    </form>
                 </div>
                 
               </div> 
                           <table class="table table-hover">
                   <thead>
                      <tr>
                         <th scope="col">Nom et Prenom</th>
                         <th scope="col">cin</th>
                         <th scope="col">Téléphone</th>
                         <th scope="col">Date de Naissaince</th>
                         <th scope="col">Adresse</th>

                      </tr>
                   </thead>
                   <tbody>
                      <tr  *ngFor="let i of filtredPatients">
                         <th scope="row">{{i.info.nom}} {{i.info.prenom}}</th>
                         <td>{{i.info.cin}}</td>
                         <td>{{i.info.telephone}}</td>
                         <td>{{i.info.dateNaissance}}</td>
                         <td>{{i.info.adresse}}</td>

                      </tr>
                     
                     
                   </tbody>
                </table>
               
             </div>
          </div>
 </div>