<div class="iq-sidebar">
    <div class="iq-sidebar-logo d-flex justify-content-between">
       <a href="index.html">
       <img src="assets/images/logo.JPG" class="img-fluid" alt="">
       <span>FinDoc  </span>
       </a>
       <div class="iq-menu-bt-sidebar">
             <div class="iq-menu-bt align-self-center">
                <div class="wrapper-menu">
                   <div class="main-circle"><i class="ri-more-fill"></i></div>
                   <div class="hover-circle"><i class="ri-more-2-fill"></i></div>
                </div>
             </div>
          </div>
    </div>
    <div id="sidebar-scrollbar">
       <nav class="iq-sidebar-menu">
          <ul class="iq-menu">

             <li class="iq-menu-title"><i class="ri-subtract-line"></i><span></span></li>
             <li class="active">           
                  <a routerLink="/acceuil" class="iq-waves-effect"><i class="ri-user-3-fill"></i><span>Acceuil</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>

            </li> 
             <li class="active" *ngIf="this.type=='medecin'">
                <a href="index.html" class="iq-waves-effect"><i class="ri-hospital-fill"></i><span>Espace Medecin</span></a>
             </li> 
             <!-- ********************************gerer secretaire************************************************ !-->                  
             <li *ngIf="this.type=='medecin'">
               <a href="javascript:void(0);" class="iq-waves-effect"><i class="ri-user-3-fill"></i><span> Sécretaire</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
               <ul class="iq-submenu">
                  <li><a routerLink="secretaire"><i class="ri-profile-fill"></i> Liste Secretaire</a></li>

               </ul>
            </li>
            <!-- ********************************rdv************************************************ !-->                
            
            <li *ngIf="this.type=='medecin'">
               <a href="javascript:void(0);" class="iq-waves-effect"><i class="ri-user-3-fill"></i><span>Rendez-vous</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
               <ul class="iq-submenu">
                  <li><a routerLink="/acceuil/gestionMedecins/profile"><i class="ri-profile-fill"></i> Consulter Rendez-vous</a></li>
            

               </ul>
            </li>
            <!-- ********************************Dossier Medical************************************************ !-->                  

            <li *ngIf="this.type=='medecin'">
               <a href="javascript:void(0);" class="iq-waves-effect"><i class="ri-user-3-fill"></i><span>Gerer Dossier Médical</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
               <ul class="iq-submenu">
                  <li><a href="assets/add-doctor.html"><i class="ri-user-add-fill"></i> Ajouter Fichier</a></li>
                  <li><a routerLink="/acceuil/gestionMedecins/profile"><i class="ri-profile-fill"></i> Consulter Patient</a></li>
                  <li><a routerLink="/acceuil/gestionMedecins/modifierMedecin"><i class="ri-file-edit-fill"></i> Modifier Details</a></li>
             

               </ul>
            </li>
           <!-- ********************************patient**********************************************            
             <li>
                <a href="dashboard-3.html" class="iq-waves-effect"><i class="ri-group-fill"></i><span>Patient Dashboard</span></a>
             </li>** !-->  
            <!-- ********************************Espace Admin************************************************ !-->                 
        
            
            <li class="active"  >
               <a  class="iq-waves-effect" ><i class="ri-hospital-fill"></i><span>Espace Admin</span></a>
            </li> 
            
              <!-- ********************************gerer medecins************************************************ !-->  
             <li>
                <a href="javascript:void(0);" class="iq-waves-effect"><i class="ri-user-3-fill"></i><span>Gerer Médecins</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                <ul class="iq-submenu">
                   <li><a routerLink="listeMedecins"><i class="ri-file-list-fill"></i>Liste de Médecins</a></li>
                   <li><a routerLink="ajouterMedecin"><i class="ri-user-add-fill"></i> Ajouter Médecin</a></li>
                
                </ul>
             </li>
               <!-- ********************************gerer Spécialités************************************************ !-->  
               <li>
                  <a routerLink="specialite" class="iq-waves-effect"><i class="ri-user-3-fill"></i><span>Consulter Spécialités</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                  
               </li>
          
               
    <!-- ********************************Espace secretaire************************************************ !-->                 
             <li class="active" *ngIf="this.type=='secrétaire'" >
               <a href="index.html" class="iq-waves-effect"><i class="ri-hospital-fill"></i><span>Espace Sécretaire</span></a>
            </li> 
           
            <li *ngIf="this.type=='secrétaire'">
               <a href="javascript:void(0);"  class="iq-waves-effect"><i class="ri-user-3-fill"></i><span>Gerer Rendez-vous</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
               <ul class="iq-submenu">
                  <li><a routerLink="rendez-vous"><i class="ri-file-edit-fill"></i> Consulter Liste Rendez-vous</a></li>


               </ul>
            </li>
          </ul>
       </nav>
       <div class="p-3"></div>
    </div>
 </div>

