<div class="iq-sidebar">
  <!-- lentete mte3 side bar -->
   <div class="iq-sidebar-logo d-flex justify-content-between">
      <!--logo et le nom de notre app-->
      <a>
       <img src="assets/images/logo3.png" class="img-fluid" alt="">
       <img src="assets/images/logo2.png" class="img-fluid" alt="">
       </a>
<!-- el div hethi fehe ekl 3 points mte3 sidebar -->
       <div class="iq-menu-bt-sidebar">
             <div class="iq-menu-bt align-self-center">
                <div class="wrapper-menu">
                   <div class="main-circle"><i class="ri-more-fill"></i></div>
                   <div class="hover-circle"><i class="ri-more-2-fill"></i></div>
                </div>
             </div>
      </div>
    </div>

    <!--l bodey mte3 side bar wen 7atin les liens lkol -->
    <div id="sidebar-scrollbar">
       <nav class="iq-sidebar-menu">
          <ul class="iq-menu">
             <!--juste amlna span bch nbe3dou esm lapp al les liens mte3na-->
            <li class="iq-menu-title"><i class="ri-subtract-line"></i><span></span></li>
          <!--espace secretaire nest visible que pour la secretaire et on la conditioné par son type li amlinou fl backend-->
            <li class="active" *ngIf="this.type=='secrétaire'" >
               <a  class="iq-waves-effect"><i class="ri-hospital-fill"></i><span>Espace Sécretaire</span></a>
            </li> 

            <li class="active" *ngIf="this.type=='medecin'">
               <a  class="iq-waves-effect"><i class="ri-hospital-fill"></i><span>Espace Medecin</span></a>
            </li> 

            <li *ngIf="this.type=='admin'" class="active"  >
               <a  class="iq-waves-effect" ><i class="ri-hospital-fill"></i><span>Espace Administrateur</span></a>
            </li> 

             <li class="active">           
                  <a routerLink="/acceuil" class="iq-waves-effect"><i class="fa fa-home" aria-hidden="true"></i><span>Acceuil</span></a>

            </li> 
            
             <!-- ********************************gerer secretaire************************************************ !-->                  
             <li  class="active" *ngIf="this.type=='medecin'">
               <a  class="iq-waves-effect"><i class="ri-user-3-fill"></i><span> Sécretaire</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
               <ul class="iq-submenu">
                  <li><a routerLink="secretaire"><i class="ri-profile-fill "></i> Liste Secretaire</a></li>

               </ul>
            </li>
            <!-- ********************************rdv************************************************ !-->                
            
            <li  class="active" *ngIf="this.type=='medecin'">
               <a  class="iq-waves-effect"><i class="ri-user-3-fill"></i><span>Rendez-vous</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
               <ul class="iq-submenu">
                  <li><a routerLink="/acceuil/gestionMedecins/profile"><i class="ri-profile-fill"></i> Consulter Rendez-vous</a></li>
            

               </ul>
            </li>
            <!-- ********************************Dossier Medical************************************************ !-->                  

            <li class="active" *ngIf="this.type=='medecin'">
               <a  class="iq-waves-effect"><i class="ri-user-3-fill"></i><span>Gerer Dossier Médical</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
               <ul class="iq-submenu">
                  <li><a ><i class="ri-user-add-fill"></i> Ajouter Fichier</a></li>
                  <li><a routerLink="/acceuil/gestionMedecins/profile"><i class="ri-profile-fill"></i> Consulter Patient</a></li>
                  <li><a routerLink="/acceuil/gestionMedecins/modifierMedecin"><i class="ri-file-edit-fill"></i> Modifier Details</a></li>
             

               </ul>
            </li>
           
            <!-- ********************************Espace Admin************************************************ !-->                 
        
              <!-- ********************************gerer medecins************************************************ !-->  
             <li class="active"  *ngIf="this.type=='admin'">
                <a  class="iq-waves-effect"><i class="ri-user-3-fill"></i><span>Gerer Médecins</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                <ul class="iq-submenu">
                   <li><a routerLink="listeMedecins"><i class="ri-file-list-fill"></i>Liste de Médecins</a></li>
                   <li><a routerLink="ajouterMedecin"><i class="ri-user-add-fill"></i> Ajouter Médecin</a></li>
                
                </ul>
             </li>
               <!-- ********************************gerer Spécialités************************************************ !-->  
               <li *ngIf="this.type=='admin'" class="active">
                  <a routerLink="specialite" class="iq-waves-effect"><i class="ri-user-3-fill"></i><span>Consulter Spécialités</span></a>
                  
               </li>
                         <!-- ********************************Envoie demail************************************************ !-->  

               <li *ngIf="this.type=='admin'" class="active">
                  <a routerLink="email" class="iq-waves-effect"><i class="fa fa-envelope-open" aria-hidden="true"></i><span>Envoyer Email</span></a>
                  
               </li>
    <!-- ********************************Espace secretaire************************************************ !-->                 
  
            <li class="active" *ngIf="this.type=='secrétaire'">
               <a   class="iq-waves-effect"><i class="ri-user-3-fill"></i><span>Gerer Rendez-vous</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
               <ul class="iq-submenu">
                  <li><a routerLink="rendez-vous"><i class="ri-file-edit-fill"></i> Consulter Liste RDV</a></li>
                  <li><a routerLink="calendar"><i class="ri-calendar-fill"></i> Calendrier</a></li>

               </ul>
            </li>
          </ul>
       </nav>
       <div class="p-3"></div>
    </div>
 </div>

