<div class="container-fluid">
    <div class="row">
       <div class="col-lg-12">
          <div class="iq-card">
             <div class="iq-card-body p-0">
                <div class="iq-edit-list">
                   <ul class="iq-edit-profile d-flex nav nav-pills">
                     
                      <li class="col-md-12 p-0 ">
                         <a class="nav-link active" data-toggle="pill" href="#chang-pwd">
                            Changer Mot de passe                        </a>
                      </li>
                     
                     
                   </ul>
                </div>
             </div>
          </div>
       </div>
       <form [formGroup]="EditForm">
       <div class="col-lg-12">
          <div class="iq-edit-list-data">
             <div class="tab-content">
 
 <!--changer mot de passe-->
               <div class="tab-pane fade active show" id="chang-pwd" role="tabpanel    ">
                <div class="iq-card">
                   <div class="iq-card-header d-flex justify-content-between">
                      <div class="iq-header-title">
                         <h4 class="card-title">Changer Mot de passe</h4>
                      </div>
                   </div>
                   <div class="iq-card-body">
                       
                         <div class=" row align-items-center">
                            <div class="form-group col-sm-6">
                               <label for="fname">Mot de passe actuel:</label>
                               <input type="text" class="form-control"  formControlName="oldpassword"[ngClass]="{ 'is-invalid': submitted && f.oldpassword.errors }" >
                               <div *ngIf="submitted && f.oldpassword.errors" class="invalid-feedback">
                                 <div *ngIf="f.oldpassword.errors.required">le champ est obligatoire</div>
                               </div>
                              </div>
                            <div class="form-group col-sm-6">
                               <label for="lname">Nouveau Mot de passe:</label>
                                <input type="password" class="form-control"  formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" >
                                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                 <div *ngIf="f.password.errors.required">le champ est obligatoire</div>
                                 <div *ngIf="f.password.errors.minlength">Le mot de passe doit contenir au moins 6 lettres</div>
                              </div>
                              </div>
                            <div class="form-group col-sm-6">
                               <label for="dob">Verifier Mot de passe:</label>
                               <input type="password" class="form-control"  formControlName="passwordConfirm" [ngClass]="{ 'is-invalid': submitted && f.passwordConfirm.errors }" >
                               <div *ngIf="submitted && f.passwordConfirm.errors" class="invalid-feedback">
                                 <div *ngIf="f.passwordConfirm.errors.required">le champ est obligatoire</div>
                               </div>
                               <!-- <div *ngIf="passwordConfirm.hasError('mismatch')">fdjfij</div> -->
                            </div>
                            <div class="form-group col-sm-6">
                               <a>vous avez oublié le mot de passe ? </a>
                               <p>Si vous avez oublié votre mot de passe, cliquez sur le lien Mot de passe oublié? via la page de connexion et celui-ci vous sera envoyé immédiatement par courrier électronique.  </p>
                            </div>
                            <div >
                               <button type="submit" class="btn btn-primary mr-2" (click)="modifier()">Enregistrer les modifications</button>
                               <button type="reset" class="btn iq-bg-danger">Annuler</button></div>
                   
                         </div>
                        
                   </div>
                </div>
                </div>
             </div>
          </div>
       </div>
      
    </form>
    </div>
 </div>