<div class="container-fluid">
    <div class="row">
       <div class="col-sm-12">
          <div class="iq-card">
             <div class="iq-card-header d-flex justify-content-between">
                <div class="iq-header-title">
                   <h4 class="card-title">Liste de Rendez-vous</h4>
                </div>
             </div>
             <div class="iq-card-body">
                <div class="table-responsive">
                   <table id="datatable" class="table table-striped table-bordered" >
                      <thead>
                         <tr>
                            <th>Info Patient</th>
                            <th>Date</th>
                            <th>Heure</th>
                            <th>Motif Consultation</th>
                            <th>Téléphone</th>
                            <th>CIN</th>

                            <th>Action</th>
                         </tr>
                      </thead>
                      <tbody>
                         <tr *ngFor="let i of rdvs" >
                            <td>{{i.info.nom}} {{i.info.prenom}}</td>
                            <td>{{i.date}}</td>
                            <td>{{i.heure}}h</td>
                            <td>{{i.motif}}</td>
                            <td>{{i.info.telephone}}</td>
                            <td>{{i.info.cin}}</td>
                            <td>
                               <div class="row"> 
                              <div class="col-sm-5">
                               <button data-toggle="modal" data-target="#ReporterModal" class="btn btn-outline-primary rounded-pill mb-3" (click)="recupere(i._id,i.date,i.heure,i.motif)" ><span class="badge badge-success ml-2"></span>
                              Reporter
                              </button>  </div>
                              <div class="col-sm-5"> <button type="button" class="btn btn-outline-danger rounded-pill mb-3" (click)="supprimerRdv(i._id)"  >
                               Annuler
                              </button></div></div>
                           </td>
                         </tr>
                         <!--ReporterModal-->
                         <div class="modal fade" id="ReporterModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                           <div class="modal-dialog" role="document">
                              <form [formGroup]="reportForm">
                              <div class="modal-content">
                                 <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Reporter un rendez-vous </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                 </div>
                                 <div class="modal-body">
                                    <div class="form-group">
                                       <label >Date Consultation</label>
                                       <input type="date" min="2020-07-22"  onkeydown="return false"  class="form-control"formControlName="date"   [ngClass]="{ 'is-invalid': submitted && f.date.errors }">
                                       <div *ngIf="submitted && f.date.errors" class="invalid-feedback">
                                          <div *ngIf="f.date.errors.required">le champ est obligatoire</div>
                                        </div>
                                    </div>                 
                                    <div class="form-group">
                                       <label>Heure de Consultation</label>
                                       <input type="time" class="form-control"formControlName="heure"   [ngClass]="{ 'is-invalid': submitted && f.heure.errors }">
                                       <div *ngIf="submitted && f.heure.errors" class="invalid-feedback">
                                          <div *ngIf="f.heure.errors.required">le champ est obligatoire</div>
                                        </div>
                                    </div>                                 
                                   
                                       
                                 </div>
                                 <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                    <button type="button" class="btn btn-primary" (click)="reporterRdv()">Enregistrer</button>
                                 </div>
                              </div>
                           </form>
                           </div>
                        </div>
                     

                      </tbody>
                   </table>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>