<div class="container-fluid">
    <div class="row">
       <div class="col-sm-12">
          <div class="iq-card">
             <div class="iq-card-header d-flex justify-content-between">
                <div class="iq-header-title">
                   <h4 class="card-title">Liste de Rendez-vous</h4>
                </div>
                <button type="button" class="btn mb-1 btn-outline-primary" data-toggle="modal" data-target="#exampleModal"> <span>+</span> Ajouter un rendez-vous  </button>
                 
                  <!-- Modal -->
                  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                     <div class="modal-dialog" role="document">
                        <div class="modal-content">
                           <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Ajouter un rendez-vous </h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                              </button>
                           </div>
                           <div class="modal-body">
                                 <form [formGroup]="rdvForm">    
                                    <div class="form-group">
                                       <label >Identifiant d patient</label>
                                       <input type="text" class="form-control" formControlName="patient" [ngClass]="{ 'is-invalid': submitted && f.patient.errors }" >
                                       <div *ngIf="submitted && f.patient.errors" class="invalid-feedback">
                                          <div *ngIf="f.patient.errors.required">le champ est obligatoire</div>
                                        </div>
                                    </div>                            
                                    <div class="form-group">
                                       <label >Date Consultation</label>
                                       <input type="date" class="form-control"formControlName="date"  value="2020-05-28" [ngClass]="{ 'is-invalid': submitted && f.date.errors }">
                                       <div *ngIf="submitted && f.date.errors" class="invalid-feedback">
                                          <div *ngIf="f.date.errors.required">le champ est obligatoire</div>
                                        </div>
                                    </div>                 
                                    <div class="form-group">
                                       <label>Heure de Consultation</label>
                                       <input type="time" class="form-control"formControlName="heure"  value="08:00" [ngClass]="{ 'is-invalid': submitted && f.heure.errors }">
                                       <div *ngIf="submitted && f.heure.errors" class="invalid-feedback">
                                          <div *ngIf="f.heure.errors.required">le champ est obligatoire</div>
                                        </div>
                                    </div>                                 
                                    <div class="form-group">
                                       <label> Motif de consultation </label>
                                       <textarea class="form-control" formControlName="motif" rows="1" [ngClass]="{ 'is-invalid': submitted && f.motif.errors }"></textarea>
                                       <div *ngIf="submitted && f.motif.errors" class="invalid-feedback">
                                          <div *ngIf="f.motif.errors.required">le champ est obligatoire</div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                       <button type="reset" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                       <button type="submit" class="btn btn-primary" (click)="ajouterRdv()">Ajouter</button>
                                    </div>
                                 </form>
                           </div>
                           
                        </div>
                     </div>
                  </div>
                <!-- <button type="button" class="btn btn-link rounded-pill mb-3">Ajouter un rendez-vous</button> -->

             </div>
             <div class="iq-card-body">
                <div class="table-responsive">
                   <table id="datatable" class="table table-striped table-bordered" >
                      <thead>
                         <tr>
                            <th>Info Patient</th>
                            <th>Date</th>
                            <th>Heure</th>
                            <th>Motif de Consultation</th>
                            <th>Téléphone</th>
                            <th>CIN</th>

                            <th>Action</th>
                         </tr>
                      </thead>
                      <tbody>
                         <tr *ngFor="let i of rdvs" >
                            <td>{{i.info.nom}} {{i.info.prenom}}
                               <!-- <button  data-toggle="modal" data-target="#infoModal" type="button" class="btn btn-link mb-3">Info Patient</button> -->
                            </td>
                            <td>{{i.date}}</td>
                            <td>{{i.heure}}h</td>
                            <td>{{i.motif}}</td>
                            <td>{{i.info.telephone}}</td>
                            <td>{{i.info.cin}}</td>

                            <td><div class="row"> <div class="col-md-4">
                               <button type="button" data-toggle="modal" data-target="#ReporterModal" class="btn mb-1 btn-outline-success"><span class="badge badge-success ml-2"></span>
                              Reporter
                              </button>  </div>
                              <div class="col-md-4"> <button type="button" class="btn mb-1 btn-outline-danger" (click)="supprimerRdv(i._id)"  >
                               Annuler
                              </button></div></div>
                           </td>
                         </tr>
                         <div class="modal fade" id="ReporterModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                           <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                 <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Reporter un rendez-vous </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                 </div>
                                 <div class="modal-body">
                                       <form>                               
                                          <div class="form-group">
                                             <label >Date Consultation</label>
                                             <input type="date" class="form-control" value="2020-05-28">
                                          </div>                 
                                          <div class="form-group">
                                             <label>Heure de Consultation</label>
                                             <input type="time" class="form-control" value="08:00">
                                          </div>                                 
                                         
                                       
                                       </form>
                                 </div>
                                 <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                                    <button type="button" class="btn btn-primary">Enregistrer</button>
                                 </div>
                              </div>
                           </div>
                        </div>
                       <!-- Modal -->
                  <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                     <div class="modal-dialog" role="document">
                        <div class="modal-content">
                         
                           <div class="modal-body">
                              
                                 
                                    <div class="alert alert-primary" role="alert">
                                       <div class="iq-alert-text">
                                          <h5 class="alert-heading">Well done!</h5>
                                          <p>Aww yeah, you successfully read this important alert message. This
                                             example text is going to run a bit longer so that you can see how
                                             spacing within an alert works with this kind of content.
                                          </p>
                                          <hr>
                                          <p class="mb-0">Whenever you need to, be sure to use margin utilities to
                                             keep things nice and tidy.
                                          </p>
                                       </div>
                                    
                                 </div>
                           </div>
                           
                        </div>
                     </div>
                  </div>
                       

                      </tbody>
                      <!-- <tfoot>
                         <tr>
                            <th>Name</th>
                            <th>Position</th>
                            <th>Office</th>
                            <th>Age</th>
                            <th>Start date</th>
                            <th>Salary</th>
                         </tr>
                      </tfoot> -->
                   </table>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>