<div class="navbar navbar-expand-lg navbar-light p-0">
   
    
    <div class="container-fluid">
       <div class="row">
          <div class="col-sm-12">
             <div class="iq-card">
                <div class="iq-card-header d-flex justify-content-between">
                   <div class="iq-header-title">
                      <h4 class="card-title">Docters List</h4>
                   </div>
                </div>
             </div>
          </div>
          <div class="col-sm-6 col-md-3" *ngFor="let i of listeMedecins" >
             <div class="iq-card" >
                <div class="iq-card-body text-center">
                   <div class="doc-profile">
                      <img class="rounded-circle img-fluid avatar-80" src="http://localhost:3000/medecin/affichePhoto/{{i.image}}" alt="profile">
                   </div>
                   <div class="iq-doc-info mt-3">
                      <h4> Dr. {{i.nom}}</h4>
                      <p class="mb-0" >{{i.specialite}}</p>
                      <a href="javascript:void();">  {{i.email}}  </a>
                   </div>
                   <div class="iq-doc-description mt-2">
                      <p class="mb-0">{{i.adresseCabinet}}</p>
                   </div>
                  
                   <!-- <button type="button" class="btn btn-link rounded-pill mb-3" routerLink="/gestionMedecins/modifierMedecin/{{i._id}}">Modifier</button> -->

                    <div>                 
                       <button type="button" class="btn btn-outline-dark rounded-pill mb-3"(click)="supprimerMedecin(i._id)">Supprimer</button>
                    </div>
                </div>
             </div>
          </div>
         
         
          
       </div>
    </div>
   
 </div>