<div class="navbar navbar-expand-lg navbar-light p-0">
   
    
    <div class="container-fluid">
       <div class="row">
          <div class="col-sm-12">
             <div class="iq-card">
                <div class="iq-card-header d-flex justify-content-between">
                   <div class="iq-header-title">
                      <h4 class="card-title">Liste des médecins</h4>
                   </div>
                </div>
             </div>
          </div>
          <div class="col-sm-6 col-md-3" *ngFor="let i of listeMedecins" >
             <div class="iq-card" >
                <div class="iq-card-body text-center">
               
                   <div class="doc-profile">
                     
                      <img class="rounded-circle img-fluid avatar-80" src="http://localhost:3000/medecin/affichePhoto/{{i.image}}" alt="profile">
                   </div>
                   <div class="iq-doc-info mt-3">
                      <h4> Dr. {{i.nom}}</h4>
                      <p class="mb-0" >{{i.specialite}}</p>
                      <a href="javascript:void();">  {{i.email}}  </a>
                   </div>
                   <div class="iq-doc-description mt-2">
                      <p class="mb-0">{{i.adresseCabinet}}</p>
                   </div>
                  
               
                    <div class="row"> <div class="col-md-4">
                     <button type="button" class="btn btn-outline-primary rounded-pill mb-3" data-toggle="modal" data-target="#modifMedecin" (click)="recupere(i._id,i.nom,i.prenom,i.login,i.dateNaissance,i.adresse,i.telephone,i.cin,i.email,i.adresseCabinet,i.specialite)">Modifier</button></div>
                    <div class="col-md-8"><button type="button" class="btn btn-outline-dark rounded-pill mb-3"(click)="supprimerMedecin(i._id)">Supprimer</button>
                    </div></div>
                </div>
             </div>
          </div>
         
       

<!--edit modal-->
       <div id="modifMedecin" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenteredScrollableTitle" aria-hidden="true">
         <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
            <div class="modal-content">

               <div class="modal-header">
                  <h5 class="iq-bg-primary pl-3 pr-3 pt-2 pb-2 rounded text-center" id="exampleModalCenteredScrollableTitle">Modifier informations medecin</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                  </button>
               </div>
               <div class="modal-body">
         <form [formGroup]="editForm" (ngSubmit)="modiferMedecin()">
           <div class=" row align-items-center">
            <!--nom utilisateur-->
           <div  class="form-group col-sm-6">
                                                     <label  class="text-primary">Nom d'utilisateur:</label>
                                                     <input type="text" class="form-control"  formControlName="login"[ngClass]="{ 'is-invalid': submitted && f.login.errors }">
                                                     <div *ngIf="submitted && f.login.errors" class="invalid-feedback">
                                                        <div *ngIf="f.login.errors.required">le champ est obligatoire</div>
                                                      </div>
           </div>
           <!--cin-->
           <div  class="form-group col-sm-6">
           <label class="text-primary">CIN:</label>
           <input type="text" class="form-control"  formControlName="cin"[ngClass]="{ 'is-invalid': submitted && f.cin.errors }">
           <div *ngIf="submitted && f.cin.errors" class="invalid-feedback">
            <div *ngIf="f.cin.errors.required">le champ est obligatoire</div>
            <div *ngIf="f.cin.errors.minlength">le numéro de carte d'identité doit contenir 8 chifres</div>
            <div *ngIf="f.cin.errors.pattern">le numéro de carte d'identité n'est pas valide</div>
            <div *ngIf="f.cin.errors.maxLength">le numéro de carte d'identité doit contenir 8 chifres</div>

          </div>
            </div>
             <!--nom-->
           <div class="form-group col-sm-6">
            <label  class="text-primary">Nom:</label>
            <input type="text" class="form-control"  formControlName="nom" [ngClass]="{ 'is-invalid': submitted && f.nom.errors }">
             <div *ngIf="submitted && f.nom.errors" class="invalid-feedback">
              <div *ngIf="f.nom.errors.required">le champ est obligatoire</div>
              </div>
           </div>
           <!--prenom-->
           <div class="form-group col-sm-6">
                                                     <label class="text-primary">Prenom:</label>
                                                     <input type="text" class="form-control"  formControlName="prenom"[ngClass]="{ 'is-invalid': submitted && f.prenom.errors }">
                                                     <div *ngIf="submitted && f.prenom.errors" class="invalid-feedback">
                                                        <div *ngIf="f.prenom.errors.required">le champ est obligatoire</div>
                                                      </div>
           </div>
           <!--date nes-->
           <div class="form-group col-sm-6">
                                                     <label class="text-primary">Date De naissance:</label>
                                                     <input type="date" class="form-control" min="1940-01-01" max="1990-12-31" onkeydown="return false" formControlName="dateNaissance" [ngClass]="{ 'is-invalid': submitted && f.dateNaissance.errors }">
                                                     <div *ngIf="submitted && f.dateNaissance.errors" class="invalid-feedback">
                                                        <div *ngIf="f.dateNaissance.errors.required">le champ est obligatoire</div>
                                                      </div>
           </div>
           <!--adresse-->
           <div class="form-group col-sm-6">
                                                     <label class="text-primary">Adresse:</label>
                                                     <input type="text" class="form-control"  formControlName="adresse"[ngClass]="{ 'is-invalid': submitted && f.adresse.errors }">
                                                     <div *ngIf="submitted && f.adresse.errors" class="invalid-feedback">
                                                        <div *ngIf="f.adresse.errors.required">le champ est obligatoire</div>
                                                      </div>
           </div>
           <!--tel-->
           <div class="form-group col-sm-6">
                                                     <label  class="text-primary">Téléphone:</label>
                                                     <input type="number" class="form-control"  formControlName="telephone"[ngClass]="{ 'is-invalid': submitted && f.telephone.errors }">
                                                     <div *ngIf="submitted && f.telephone.errors" class="invalid-feedback">
                                                        <div *ngIf="f.telephone.errors.required">le champ est obligatoire</div>
                                                       <div *ngIf="f.telephone.errors.pattern">Le numéro doit étre de 8 chiffre</div> 
                             
                                                      </div>
           </div>
           <!--email-->
           <div class="form-group col-sm-6">
                                                     <label class="text-primary">E-mail:</label>
                                                     <input type="email" class="form-control"  formControlName="email"[ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                                                     <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                                        <div *ngIf="f.email.errors.required">le champ est obligatoire</div>
                                                <div *ngIf="f.email.errors.pattern">veuillez entrer une adresse électronique valide</div>
                                                      </div>
           </div>
           <!--adres cab-->
           <div class="form-group col-sm-6">
                                                     <label class="text-primary">Adresse de Cabinet:</label>
                                                     <input type="text" class="form-control"  formControlName="adresseCabinet"[ngClass]="{ 'is-invalid': submitted && f.adresseCabinet.errors }">
                                                     <div *ngIf="submitted && f.adresseCabinet.errors" class="invalid-feedback">
                                                        <div *ngIf="f.adresseCabinet.errors.required">le champ est obligatoire</div>
                                                      </div>
           </div>
           <!--spc-->
           <div class="form-group col-sm-6">
                                                     <label class="text-primary">Spécialité:</label>
                                                     <select class="form-control" formControlName="specialite" [ngClass]="{ 'is-invalid': submitted && f.specialite.errors }">
                                                        <option *ngFor="let i of listeSpecialite" >{{i.nom}}</option>
                                                        <div *ngIf="submitted && f.specialite.errors" class="invalid-feedback">
                                                         <div *ngIf="f.specialite.errors.required">le champ est obligatoire</div>
                                                       </div> 
                                                     </select>       
           </div>
        
           </div>
             <button type="reset" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
             <button type="submit" class="btn btn-primary" >Enregistrer les modifications</button>
           </form> 
             </div>
            </div>
         </div>
      </div>
    </div>
 </div>