<div class="container-fluid">
    <div class="row">
       <div class="col-sm-12">
          <div class="iq-card">
             <div class="iq-card-header d-flex justify-content-between">
                <div class="iq-header-title">
                   <h4 class="card-title">Liste des Secrétaires</h4>
                </div>
                <div >
                  <!-- Button trigger modal -->
                  <button type="button" class="btn btn-link rounded-pill mb-3" data-toggle="modal" data-target=".bd-example-modal-lg">
                     Ajouter Secrétaire
                  </button>
                  <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"  aria-hidden="true">
                     <div class="modal-dialog modal-lg">
                        <form class="form-horizontal" [formGroup]="registerForm" >
                        <div class="modal-content">
                           <div class="modal-header">
                              <h5 class="modal-title">Ajout Secretaire</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                              </button>
                           </div>

                           <div class="modal-body">
                              <!-- <form  > -->
                                 <!--nom-->
                                       <div class="form-group row">
                                          <label class="control-label col-sm-2 align-self-center mb-0">Nom:</label>
                                          <div class="col-sm-10">
                                             <input type="text" class="form-control"  placeholder="nom" [ngClass]="{ 'is-invalid': submitted && f.nom.errors }" formControlName="nom" >
                                             <div *ngIf="submitted && f.nom.errors" class="invalid-feedback">
                                                <div *ngIf="f.nom.errors.required">le champ est obligatoire</div>
                                              </div>
                                              <!-- <div *ngIf="f.nom.errors &&
                                                   f.nom.errors.validFname">
				                                   	First name should start with @
			                                   	</div> -->
                                          </div>
                                       </div>
                                                                     <!--prenom-->
   
                                       <div class="form-group row">
                                          <label class="control-label col-sm-2 align-self-center mb-0" >Prenom:</label>
                                          <div class="col-sm-10">
                                             <input type="text" class="form-control"  placeholder="prenom" [ngClass]="{ 'is-invalid': submitted && f.prenom.errors }" formControlName="prenom">
                                             <div *ngIf="submitted && f.prenom.errors" class="invalid-feedback">
                                                <div *ngIf="f.prenom.errors.required">le champ est obligatoire</div>
                                              </div>
                                          </div>
                                       </div>
                                                                     <!--login-->
   
                                       <div class="form-group row">
                                          <label class="control-label col-sm-2 align-self-center mb-0" >Nom d'utilisateur:</label>
                                          <div class="col-sm-10">
                                             <input type="text" class="form-control"  placeholder="nom d'utilisateur" [ngClass]="{ 'is-invalid': submitted && f.login.errors }" formControlName="login">
                                             <div *ngIf="submitted && f.login.errors" class="invalid-feedback">
                                      <div *ngIf="f.login.errors.required">le champ est obligatoire</div>
                                                <!-- <div *ngIf="f.login.hasError('alreadyExist')"> le nom d'utilisateur existe déjà</div> -->
                                        <div *ngIf="f.login.errors &&f.login.errors.alreadyExist"> le nom d'utilisateur existe déjà </div>
                                                      <div *ngIf="f.login.errors.espace">Le nom d'utilisateur ne doit pas contenir espace</div>
                                              </div>
                                          </div>
                                       </div>
                                                                     <!--password-->
                                        <div class="form-group row">
                                         <label class="control-label col-sm-2 align-self-center mb-0" for="pwd1">Mot de passe:</label>
                                          <div class="col-sm-10">
                                          <input type="password" class="form-control"  placeholder="le mot de passe doit comprendre au moins 6 caractères" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" formControlName="password">
                                          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                             <div *ngIf="f.password.errors.required">le champ est obligatoire</div>
                                             <div *ngIf="f.password.errors.minlength">le mot de passe doit comprendre au moins 6 caractères</div>

                                          </div>
                                        </div>
                                          </div>
                                       
                                                                     <!--dateNaissance-->
   
                                       <div class="form-group row">
                                          <label class="control-label col-sm-2 align-self-center mb-0" for="email">Date de Naissance:</label>
                                          <div class="col-sm-10">
                                             <input type="date" class="form-control" placeholder="Date de Naissance" [ngClass]="{ 'is-invalid': submitted && f.dateNaissance.errors }" formControlName="dateNaissance">
                                             <div *ngIf="submitted && f.dateNaissance.errors" class="invalid-feedback">
                                                <div *ngIf="f.dateNaissance.errors.required">le champ est obligatoire</div>
                                              </div>
                                          </div>
                                       </div>
                                                                     <!--adresse-->
   
                                       <div class="form-group row">
                                          <label class="control-label col-sm-2 align-self-center mb-0" for="email">Adresse:</label>
                                          <div class="col-sm-10">
                                             <input type="text" class="form-control"  placeholder="adresse" [ngClass]="{ 'is-invalid': submitted && f.adresse.errors }" formControlName="adresse">
                                             <div *ngIf="submitted && f.adresse.errors" class="invalid-feedback">
                                                <div *ngIf="f.adresse.errors.required">le champ est obligatoire</div>
                                              </div>
                                          </div>
                                       </div>
                                                                     <!--telephone-->
   
                                       <div class="form-group row">
                                          <label class="control-label col-sm-2 align-self-center mb-0" for="email">Téléphone:</label>
                                          <div class="col-sm-10">
                                             <input type="number" class="form-control"  placeholder="télephone" [ngClass]="{ 'is-invalid': submitted && f.telephone.errors }" formControlName="telephone">
                                             <div *ngIf="submitted && f.telephone.errors" class="invalid-feedback">
                                                <div *ngIf="f.telephone.errors.required">le champ est obligatoire</div>
                                                <div *ngIf="f.telephone.errors.pattern">Le numéro est invalid</div>

                                              </div>
                                          </div>
                                       </div>
                                                                     <!--cin-->
                                       <div class="form-group row">
                                          <label class="control-label col-sm-2 align-self-center mb-0" for="email">Cin:</label>
                                          <div class="col-sm-10">
                                             <input type="number" class="form-control"  placeholder="cin" [ngClass]="{ 'is-invalid': submitted && f.cin.errors }" formControlName="cin">
                                             <div *ngIf="submitted && f.cin.errors" class="invalid-feedback">
                                                <div *ngIf="f.cin.errors.required">le champ est obligatoire</div>
                                                <div *ngIf="f.cin.errors.pattern">le numéro de carte d'identité n'est pas valide</div>
                                                <div *ngIf="f.cin.errors.minlength">le numéro de carte d'identité doit contenir 8 chifres</div>

                                              </div>
                                          </div>
                                       </div>
   
                                                                   <!--email-->
                                       <div class="form-group row">
                                          <label class="control-label col-sm-2 align-self-center mb-0" for="email">Email:</label>
                                          <div class="col-sm-10">
                                             <input type="email" class="form-control"  placeholder="email"[ngClass]="{ 'is-invalid': submitted && f.email.errors }" formControlName="email">
                                             <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                                <div *ngIf="f.email.errors.required">le champ est obligatoire</div>
                                                <div *ngIf="f.email.errors.pattern">veuillez entrer une adresse électronique valide</div>
                                                <p *ngIf="f.email.errors.emailDomain">Email must be on the codecraft.tv domain</p> 

                                             </div>
                                          </div>
                                       </div>
   
   
                           </div>
                           <div class="modal-footer">
                              <button type="reset" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                              <button type="submit" class="btn btn-primary" (click)="ajouterSecretaire()">Ajouter</button>
                           </div>
                        </div>
                       </form>
                     </div>
                  </div>
               </div>
             </div>
          </div>
       </div>
       <div class="col-sm-6 " *ngFor="let i of secretaireParmed">
          <div class="iq-card" >
             <div class="iq-card-body text-center">
                <div class="doc-profile">
                   <img class="rounded-circle img-fluid avatar-80" src="assets/images/user/12.jpg" alt="profile">
                </div>
                <div class="iq-doc-info mt-3">
                   <h4>  {{i.nom }} {{i.prenom}}</h4>
                   <p class="mb-0" >{{i.email}}</p>
                   <a >{{i.telephone}}</a>
                </div>
                <div class="iq-doc-description mt-2">
                   <p class="mb-0">{{i.dateNaissance}}</p>
                </div>
                <div class="iq-doc-description mt-2">
                    <p class="mb-0">{{i.adresse}}</p>
                 </div>
                 <div class="iq-doc-description mt-2">
                    <p class="mb-0">{{i.cin}}</p>
                 </div>
             
                <div class="iq-card-body">
                 
                  <button type="button" class="btn btn-info rounded-pill mb-3" data-toggle="modal" data-target="#exampleModalScrollable" (click)="recupere(i._id,i.nom,i.prenom,i.login,i.password,i.dateNaissance,i.adresse,i.telephone,i.cin,i.email)">Modifier</button>
                  <button type="button" class="btn btn-light rounded-pill mb-3 " (click)="supprimer(i._id)">Supprimer</button>
                 
                 <!--modification modal-->
                 <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-scrollable" role="document">
                     <div class="modal-content">
                        
                        <div class="modal-body">
                           <form class="form-horizontal" [formGroup]="editForm" >
                                 <div class="modal-header">
                                    <h5 class="modal-title">Modifier Secretaire</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                 </div>
      
                                 <div class="modal-body">
                                    <!-- <form  > -->
                                       <!--nom-->
                                   <div class="form-group row">
                                                <label class="control-label col-sm-2 align-self-center mb-0" >Nom:</label>
                                                <div class="col-sm-10">
                                                   <input type="text" class="form-control"  placeholder="Nom" [ngClass]="{ 'is-invalid': submitted && g.nom.errors }" formControlName="nom" >
                                                   <div *ngIf="submitted && g.nom.errors" class="invalid-feedback">
                                                      <div *ngIf="g.nom.errors.required">le champ est obligatoire</div>
                                                    </div>
                                                </div>
                                             </div>
                                                                           <!--prenom-->
         
                                             <div class="form-group row">
                                                <label class="control-label col-sm-2 align-self-center mb-0" >Prenom:</label>
                                                <div class="col-sm-10">
                                                   <input type="text" class="form-control"  placeholder="prenom" [ngClass]="{ 'is-invalid': submitted && g.prenom.errors }" formControlName="prenom">
                                                   <div *ngIf="submitted && g.prenom.errors" class="invalid-feedback">
                                                      <div *ngIf="g.prenom.errors.required">le champ est obligatoire</div>
                                                    </div>
                                                </div>
                                             </div>
                                                                           <!--login-->
         
                                             <div class="form-group row">
                                                <label class="control-label col-sm-2 align-self-center mb-0" for="email">Nom d'utilisateur:</label>
                                                <div class="col-sm-10">
                                                   <input type="text" class="form-control"  placeholder="nom d'utilisateur" [ngClass]="{ 'is-invalid': submitted && g.login.errors }" formControlName="login">
                                                   <div *ngIf="submitted && g.login.errors" class="invalid-feedback">
                                                      <div *ngIf="g.login.errors.required">le champ est obligatoire</div>

                                                    </div>
                                                </div>
                                             </div>
                                                                           <!--password-->
                                              <div class="form-group row">
                                               <label class="control-label col-sm-2 align-self-center mb-0" for="pwd1">Mot de passe:</label>
                                                <div class="col-sm-10">
                                                <input type="password" class="form-control"  placeholder="mot de passe" [ngClass]="{ 'is-invalid': submitted && g.password.errors }" formControlName="password">
                                                <div *ngIf="submitted && g.password.errors" class="invalid-feedback">
                                                   <div *ngIf="g.password.errors.required">le champ est obligatoire</div>
                                                   <div *ngIf="g.password.errors.minlength">le mot de passe doit comprendre au moins 6 caractères</div>

                                                </div>
                                              </div>
                                                </div>
                                             
                                                                           <!--dateNaissance-->
         
                                             <div class="form-group row">
                                                <label class="control-label col-sm-2 align-self-center mb-0" for="email">Date de Naissance:</label>
                                                <div class="col-sm-10">
                                                   <input type="text" class="form-control" placeholder="Date de Naissance" [ngClass]="{ 'is-invalid': submitted && g.dateNaissance.errors }" formControlName="dateNaissance">
                                                   <div *ngIf="submitted && g.dateNaissance.errors" class="invalid-feedback">
                                                      <div *ngIf="g.dateNaissance.errors.required">le champ est obligatoire</div>
                                                    </div>
                                                </div>
                                             </div>
                                                                           <!--adresse-->
         
                                             <div class="form-group row">
                                                <label class="control-label col-sm-2 align-self-center mb-0" for="email">Adresse:</label>
                                                <div class="col-sm-10">
                                                   <input type="text" class="form-control"  placeholder="adresse" [ngClass]="{ 'is-invalid': submitted && g.adresse.errors }" formControlName="adresse">
                                                   <div *ngIf="submitted && g.adresse.errors" class="invalid-feedback">
                                                      <div *ngIf="g.adresse.errors.required">le champ est obligatoire</div>

                                                   </div>
                                                </div>
                                             </div>
                                                                           <!--telephone-->
         
                                             <div class="form-group row">
                                                <label class="control-label col-sm-2 align-self-center mb-0" for="email">Téléphone:</label>
                                                <div class="col-sm-10">
                                                   <input  type="number"  class="form-control"  placeholder="télephone" [ngClass]="{ 'is-invalid': submitted && g.telephone.errors }" formControlName="telephone">
                                                   <div *ngIf="submitted && g.telephone.errors" class="invalid-feedback">
                                                      <div *ngIf="g.telephone.errors.required">le champ est obligatoire</div>
                                                      <div *ngIf="g.telephone.errors.pattern">Le numéro est invalid</div>
                                                   </div>
                                                </div>
                                             </div>
                                                                           <!--cin-->
                                             <div class="form-group row">
                                                <label class="control-label col-sm-2 align-self-center mb-0" for="email">Cin:</label>
                                                <div class="col-sm-10">
                                                   <input type="number" class="form-control"  placeholder="cin" [ngClass]="{ 'is-invalid': submitted && g.cin.errors }" formControlName="cin">
                                                   <div *ngIf="submitted && g.cin.errors" class="invalid-feedback">
                                                      <div *ngIf="g.cin.errors.required">le champ est obligatoire</div>
                                                      <div *ngIf="g.cin.errors.pattern">le numéro de carte d'identité n'est pas valide</div>
                                                      

                                                   </div>
                                                </div>
                                             </div>
         
                                                                         <!--email-->
                                             <div class="form-group row">
                                                <label class="control-label col-sm-2 align-self-center mb-0" for="email">Email:</label>
                                                <div class="col-sm-10">
                                                   <input type="email" class="form-control"  placeholder="email"[ngClass]="{ 'is-invalid': submitted && g.email.errors }" formControlName="email">
                                                   <div *ngIf="submitted && g.email.errors" class="invalid-feedback">
                                                      <div *ngIf="g.email.errors.required">le champ est obligatoire</div>
                                                      <div *ngIf="g.email.errors.pattern">veuillez entrer une adresse électronique valide</div>

                                                    </div>
                                                </div>
                                             </div>
                                            
         
                                 </div>
                                             <div class="modal-footer">
                           <button type="reset" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                           <button type="submit" class="btn btn-primary"(click)="modifierSecretaire()">Enregistrer</button>
                        </div>
                              
                             </form>
                        </div>
                        
                     </div>
                  </div>
               </div>


               </div>
             </div>
          </div>
       </div>
    
       
    </div>
 </div>