<div class="navbar navbar-expand-lg navbar-light p-0">
    
    <div class="container-fluid">
       <div class="row">
          <div class="col-lg-4">
             <div class="iq-card">
                <div class="iq-card-body pl-0 pr-0 pt-0">
                   <div class="docter-details-block">
                      <div class="doc-profile-bg bg-primary" style="height:150px;">
                      </div>
                      <div class="docter-profile text-center">
                         <img src="http://localhost:3000/medecin/affichePhoto/{{medecin.image}}" alt="profile-img" class="avatar-130 img-fluid">
                      </div>
                      <div class="text-center mt-3 pl-3 pr-3">
                         <h4><b>{{medecin.nom}} {{medecin.prenom}}</b></h4>
                         <p>{{medecin.specialite}}</p>
                      </div>
                      <hr>
                      <ul class="doctoe-sedual d-flex align-items-center justify-content-between p-0 m-0">
                         <li class="text-center">
                            <h3 class="counter">4500</h3>
                            <span>Operations</span>
                          </li>
                          <li class="text-center">
                            <h3 class="counter">100</h3>
                            <span>Hospital</span>
                          </li>
                          <li class="text-center">
                            <h3 class="counter">10000</h3>
                            <span>Patients</span>
                          </li>
                      </ul>
                   </div>
                </div>
             </div>
          
            
          </div>


          <div class="col-lg-4">
            <div class="iq-card">
               <div class="iq-card-header d-flex justify-content-between">
                  <div class="iq-header-title">
                     <h4 class="card-title">Informations Personnels</h4>
                  </div>
               </div>
               <div class="iq-card-body">
                  <div class="about-info m-0 p-0">
                     <div class="row">
                        <div class="col-4">Nom:</div>
                        <div class="col-8"> {{medecin.nom}}</div>
                        <div class="col-4">Prénom:</div>
                        <div class="col-8"> {{medecin.prenom}}</div>
                        <div class="col-4">Age:</div>
                        <div class="col-8">27</div>
                        <div class="col-4">spécialité</div>
                        <div class="col-8">{{medecin.specialite}}</div>
                        <div class="col-4">Email:</div>
                        <div class="col-8"> {{medecin.email}}</div>
                        <div class="col-4">téléphone:</div>
                        <div class="col-8">{{medecin.telephone}}</div>
                        <div class="col-4">Adresse Cabinet:</div>
                        <div class="col-8">{{medecin.adresseCabinet}}</div>
                     </div>
                  </div>
               </div>
            </div>
          </div>

         <div class="col-lg-4">
                   <div class="iq-card">
                      <div class="iq-card-header d-flex justify-content-between">
                         <div class="iq-header-title">
                            <h4 class="card-title">Notes de Patients</h4>
                         </div>
                      </div>
                      <div class="iq-card-body">
                          <ul class="list-inline m-0 p-0">
                            <li class="d-flex align-items-center justify-content-between mb-3">
                               <div>
                                  <h6>Treatment was good!</h6>                                      
                                  <p class="mb-0">Eye Test </p>
                               </div>
                               <div><a href="#" class="btn iq-bg-primary">Open</a></div>
                            </li>
                            <li class="d-flex align-items-center justify-content-between mb-3">
                               <div>
                                  <h6>My Helth in better Now</h6>                                      
                                  <p class="mb-0">Fever Test</p>
                               </div>
                               <div><a href="#" class="btn iq-bg-primary">Open</a></div>
                            </li>
                            <li class="d-flex align-items-center justify-content-between mb-3">
                               <div>
                                  <h6>No Effacted</h6>                                      
                                  <p class="mb-0">Thyroid Test</p>
                               </div>
                               <div><a href="#" class="btn iq-bg-danger">Close</a></div>
                            </li>
                            <li class="d-flex align-items-center justify-content-between mb-3">
                               <div>
                                  <h6>Operation Successfull</h6>                                      
                                  <p class="mb-0">Orthopaedic</p>
                               </div>
                               <div><a href="#" class="btn iq-bg-primary">Open</a></div>
                            </li>
                            <li class="d-flex align-items-center justify-content-between mb-3">
                               <div>
                                  <h6>Mediacal Care is just a click away</h6>                                      
                                  <p class="mb-0">Join Pain </p>
                               </div>
                               <div><a href="#" class="btn iq-bg-danger">Close</a></div>
                            </li> 
                            <li class="d-flex align-items-center justify-content-between">
                               <div>
                                  <h6>Treatment is good</h6>                                      
                                  <p class="mb-0">Skin Treatment </p>
                               </div>
                               <div><a href="#" class="btn iq-bg-primary">Open</a></div>
                            </li>                                  
                         </ul>
                      </div>
                   </div>
          </div>

       </div>
    </div>
 
  
 </div>
