<div class="container-fluid">
   <div class="row">
      <div class="col-lg-12">
         <div class="iq-card">
            <div class="iq-card-body p-0">
               <div class="iq-edit-list">
                  <ul class="iq-edit-profile d-flex nav nav-pills">
                     <li class="col-md-6 p-0">
                        <a class="nav-link active" data-toggle="pill" href="#personal-information">
                           Informations personnelles                        </a>
                     </li>
                    
                     <li class="col-md-6 p-0">
                        <a class="nav-link" data-toggle="pill" href="#emailandsms">
                           Informations générales </a>
                     </li>
                    
                  </ul>
               </div>
            </div>
         </div>
      </div>
      <form [formGroup]="EditForm">
      <div class="col-lg-12">
         <div class="iq-edit-list-data">
            <div class="tab-content">

            <!--information persoonels-->
               <div class="tab-pane fade active show" id="personal-information" role="tabpanel">
                  <div class="iq-card">
                     <div class="iq-card-header d-flex justify-content-between">
                        <div class="iq-header-title">
                           <h4 class="card-title">Informations personnelles</h4>
                        </div>
                     </div>
                     <div class="iq-card-body">
                           <div class="form-group row align-items-center">
                              <div class="col-md-6">
                                 <div class="profile-img-edit">
                                    <img class="profile-pic" src="http://localhost:3000/medecin/affichePhoto/{{image}}" alt="profile-pic">
                                    <div class="p-image">
                                       <i class="ri-pencil-line upload-button"></i>
                                       <input class="file-upload" type="file" accept="image/*"/>
                                    </div>
                                 </div>
                              </div>
                              
                              <div class=" row col-md-6">
                                 <div class="form-group ">
                                    <label for="fname">Nom d'utilisateur:</label>
                                    <input disabled type="text" class="form-control"  formControlName="login" [ngClass]="{ 'is-invalid': submitted && f.login.errors }"  >
                                 </div>
                                 <div class="form-group ">
                                    <label for="fname">CIN:</label>
                                    <input disabled type="text" class="form-control"  formControlName="cin" [ngClass]="{ 'is-invalid': submitted && f.cin.errors }" >
                                    <div *ngIf="submitted && f.cin.errors" class="invalid-feedback">
                                       <div *ngIf="f.cin.errors.required">le champ est obligatoire</div>
                                     </div>
                                 </div>
                              </div>
                           </div>
                           <div class=" row align-items-center">
                              <div class="form-group col-sm-6">
                                 <label for="fname">Nom:</label>
                                 <input type="text" class="form-control"  formControlName="nom" [ngClass]="{ 'is-invalid': submitted && f.nom.errors }" >
                                 <div *ngIf="submitted && f.nom.errors" class="invalid-feedback">
                                    <div *ngIf="f.nom.errors.required">le champ est obligatoire</div>
                                  </div>
                              </div>
                              <div class="form-group col-sm-6">
                                 <label for="lname">Prenom:</label>
                                 <input type="text" class="form-control"  formControlName="prenom" [ngClass]="{ 'is-invalid': submitted && f.prenom.errors }" >
                                 <div *ngIf="submitted && f.prenom.errors" class="invalid-feedback">
                                    <div *ngIf="f.prenom.errors.required">le champ est obligatoire</div>
                                  </div>
                              </div>
                              <div class="form-group col-sm-6">
                                 <label for="dob">Date De naissance:</label>
                                 <input disabled class="form-control"  formControlName="dateNaissance" [ngClass]="{ 'is-invalid': submitted && f.dateNaissance.errors }" >
                                 <div *ngIf="submitted && f.dateNaissance.errors" class="invalid-feedback">
                                    <div *ngIf="f.dateNaissance.errors.required">le champ est obligatoire</div>
                                  </div>
                              </div>
                              <div class="form-group col-sm-6">
                                 <label for="uname">Adresse:</label>
                                 <input type="text" class="form-control"  formControlName="adresse" [ngClass]="{ 'is-invalid': submitted && f.adresse.errors }" >
                                 <div *ngIf="submitted && f.adresse.errors" class="invalid-feedback">
                                    <div *ngIf="f.adresse.errors.required">le champ est obligatoire</div>
                                  </div>
                              </div>
                              <div >
                                 <button type="submit" class="btn btn-primary mr-2" (click)="modifier()">Enregistrer les modifications</button>
                                 <button type="reset" class="btn iq-bg-danger">Annuler</button></div>
                     
                           </div>
                          
                     </div>
                  </div>
               </div>


               <!--changer email et telephone-->

               <div class="tab-pane fade" id="emailandsms" role="tabpanel">
                
                  <div class="iq-card">
                     <div class="iq-card-header d-flex justify-content-between">
                        <div class="iq-header-title">
                           <h4 class="card-title">Informations générales</h4>
                        </div>
                     </div>
                     <div class="iq-card-body">
                         
                           <div class=" row align-items-center">
                              <div class="form-group col-sm-6">
                                 <label for="fname">Spécialité :</label>
                                 <input disabled type="text" class="form-control"  formControlName="specialite" >
                              </div>
                              <div class="form-group col-sm-6">
                                 <label for="lname">Adresse Cabinet:</label>
                                 <input type="text" class="form-control"  formControlName="adresseCabinet" [ngClass]="{ 'is-invalid': submitted && f.adresseCabinet.errors }">
                                 <div *ngIf="submitted && f.adresseCabinet.errors" class="invalid-feedback">
                                    <div *ngIf="f.adresseCabinet.errors.required">le champ est obligatoire</div>
                                  </div>
                              </div>
                              <div class="form-group col-sm-6">
                                 <label for="dob">Numéro de téléphone:</label>
                                 <input  class="form-control"  formControlName="telephone" [ngClass]="{ 'is-invalid': submitted && f.telephone.errors }" >
                                 <div *ngIf="submitted && f.telephone.errors" class="invalid-feedback">
                                    <div *ngIf="f.telephone.errors.required">le champ est obligatoire</div>
                                    <div *ngIf="f.telephone.errors.minlength">le numéro de téléphone doit contenir 8 chiffres</div>

                                  </div>
                              </div>
                              <div class="form-group col-sm-6">
                                 <label for="uname">Email:</label>
                                 <input type="text" class="form-control"  formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                                 <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                    <div *ngIf="f.email.errors.required">le champ est obligatoire</div>
                                    <!-- <div *ngIf="f.email.errors.email">veuillez entrer une adresse électronique valide</div> -->
                            <div *ngIf="f.email.errors.pattern">veuillez entrer une adresse électronique valide</div>
                                  </div>
                              </div>
                              <div >
                                 <button type="submit" class="btn btn-primary mr-2"(click)="modifier()">Enregistrer les modifications</button>
                                 <button type="reset" class="btn iq-bg-danger">Annuler</button></div>
                     
                           </div>
                     </div>
                  </div>

               </div>

            </div>
         </div>
      </div>
     
   </form>
   </div>
</div>