  <!-- loader Start -->
  <div id="loading">
    <div id="loading-center">

    </div>
 </div>
 <!-- loader END -->
 <!-- Wrapper Start -->
 <div class="wrapper">
    <!-- Sidebar  -->

    <app-sidebar></app-sidebar>
    
    
    <!-- Page Content  -->
    <div id="content-page" class="content-page">
       <!-- TOP Nav Bar -->
       <app-header></app-header>
   
       <app-layout></app-layout>

 <!-- Footer -->
 
 <app-footer></app-footer>

 <!-- Footer END -->


    </div>
 </div>
 <!-- Wrapper END -->
